@charset "UTF-8";
:root {
  /*Tamaño de fuentes*/
  --vlg: 2rem;
  --lg: 1.3rem;
  --md: 18px;
  --sm: 1.1rem;
  /*Colores*/
  --Dark--Blue--color: #253b6e;
  --olivegreen--Secondarycolor: #02880b;
  --Lightdarkpurple--Primarycolor: #389168;
  --color-secondary: #dfb361;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
}

h1 {
  padding: 5px;
  margin-top: 5px;
}

.main-container {
  display: -ms-grid;
  display: grid;
}

.Proyect-title {
  text-align: center;
}

.Proyect-container, .Two-proyect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.One-Proyect, .Two-proyect img {
  width: 100%;
  height: 100%;
}
.One-Proyect img, .Two-proyect img img {
  width: 45rem;
  height: 23rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: 8rem;
}
.One-Proyect h2, .Two-proyect img h2 {
  padding-bottom: 1rem;
  padding-left: 3rem;
  text-align: left;
  margin-left: 5rem;
}

.article-description-one, .article-description-two {
  padding-top: 8rem;
  width: 100rem;
  max-width: 65rem;
  text-align: left;
}

.Two-proyect-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.Two-proyect-container h2 {
  padding-bottom: 1rem;
  text-align: right;
  padding-right: 13rem;
}

/*
.Three-proyect-container {
  @extend .Proyect-container;
  flex-direction: row;
}

.Three-proyect {
  @extend .Two-proyect;
}

.Four-proyect-container {
  @extend .Proyect-container;
  flex-direction: row-reverse;
}

.Four-proyect {
  @extend .Two-proyect;
}
*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 10px;
  /* Espacio entre el logo y los íconos de redes sociales */
}
.logo img {
  width: 82px;
  height: 70px;
  border-radius: 30px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px;
  font-size: 4rem;
}

.social-icons li {
  margin-right: 50px;
  /* Espacio entre los íconos de redes sociales */
}

.title-me {
  text-align: center;
  padding-bottom: 2rem;
}

.aboutme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme-container img {
  border-radius: 50%;
  height: 20vh;
  width: 50vw;
  padding-bottom: 1.5rem;
  margin-left: 4rem;
}

.information {
  color: black;
  width: 70vw;
  margin-left: 10rem;
}