@charset "UTF-8";
@media screen and (min-width: 320px) and (max-width: 700px) {
  .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photo-main {
    position: absolute;
    top: 0;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .greeting {
    padding-top: 85px;
    width: 90vw;
    font-size: 1.7rem;
    line-height: 21px;
  }
  .title-info {
    font-size: 1.9rem;
  }
  .info-article {
    font-size: 1.7rem;
    line-height: 21px;
    text-align: center;
    width: 90vw;
  }
  .soft-skills {
    font-size: 1.9rem;
  }
  .container-softskills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-softskills img {
    width: 15vw;
    height: 10vh;
    margin: 0 auto;
    padding: 8px;
  }
  .container-softskills p {
    font-size: 1.7rem;
  }
  .languages-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .languages-container img {
    width: 10vw;
  }
  .proyectos-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-burger {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.nav-burger.show {
  margin-left: 0;
}

.nav-links {
  background-color: rgb(250, 250, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.link-info {
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-info::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
}

.link-info:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

#left-logo {
  margin-right: auto;
}
#left-logo img {
  height: 70px;
}

.layout {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Dos columnas con un ancho mínimo de 300px */
  gap: 10px; /* Espacio entre la foto y el párrafo */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-main {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; /* Cambia el orden en pantalla de escritorio, poniendo la foto a la derecha */
}

/*
.greeting {
    order: 1; 
    height: 100px;
    width: 50%;
}

*/
.photo-main img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.title-info {
  padding-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
  .nav-burger {
    position: static;
    margin-left: 0;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    height: 100%;
  }
  .nav-links {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: white;
  }
  .link-info {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.main-header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 0.4rem;
}

.title-info {
  padding: 25px;
}

.info-article {
  margin: 0 auto;
}

.soft-skills {
  padding: 25px;
}

.container-softskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-softskills p {
  text-align: center;
  padding: 8px;
}

@media screen and (min-width: 700px) and (max-width: 1800px) {
  .container-softskills img {
    width: 7vw;
    height: 80px;
    margin: 0 auto;
    padding: 8px;
  }
  .container-softskills p {
    font-size: 1.7rem;
  }
  .info-article {
    width: 70%;
  }
}
/*@media screen and (min-width: 720px) and (max-width: 1800px) {

}*/
.Lenguajes {
  padding: 20px;
}

.languages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.languages-container p {
  padding-top: 10px;
  padding-bottom: 20px;
}

@media screen and (min-width: 700px) and (max-width: 1800px) {
  .languages-container img {
    height: 70px;
    width: 6vw;
    padding-left: 10px;
    padding: 5px;
  }
}
.section-proyectos h3 {
  padding: 15px;
}

.section-proyectos p {
  padding: 10px;
  padding-bottom: 40px;
}

.proyecto {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.proyecto img {
  max-width: 100%;
  height: auto;
}

.botones {
  margin-top: 10px;
}

.botón {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.enlace {
  text-decoration: none;
  color: #fff;
}

.descripción {
  font-weight: 100;
}

@media screen and (min-width: 720px) and (max-width: 1764px) {
  .proyectos-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre los elementos */
  }
}