@charset "UTF-8";
:root {
  /*Tamaño de fuentes*/
  --vlg:2.0rem;
  --lg:1.3rem;
  --md: 18px;
  --sm: 1.1rem;
  /*Colores*/
  --Dark--Blue--color:#012B61;
  --olivegreen--Secondarycolor:#02880B;
  --Lightdarkpurple--Primarycolor:#88027F;
  --color-secondary: #A88513;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #012B61;
  color: white;
  font-size: 62.5%;
  font-family: sans-serif;
}

h1 {
  padding: 5px;
  margin-top: 5px;
}

.section-profile h1 {
  font-size: var(--md);
  margin: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
}
.profile-container img {
  margin-right: 35px; /* Espacio entre la imagen y la descripción */
  border-radius: 50px;
  width: 130px;
}
.profile-container .article--description {
  font-weight: 500;
  font-size: var(--md);
  flex: 1; /* Ocupar el espacio restante en el contenedor */
}
.profile-container .article--description p {
  line-height: 1.8rem;
}

.section--Technologicalskills h1 {
  font-size: var(--md);
}

.section--Technologicalskills p {
  font-size: var(--md);
  line-height: 1.5rem;
  text-align: center;
}

.language-programming {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--md);
  margin: 0;
  list-style: none;
  color: white;
  text-transform: capitalize;
}
.language-programming .html-container, .language-programming .Sass-container, .language-programming .figma-container, .language-programming .React-container, .language-programming .Javascript-container, .language-programming .GitHub-container, .language-programming .container-css {
  background-color: #E34C26;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 130px;
  height: 30px;
  text-align: center;
  font-size: 25px;
}
.language-programming .html-container i, .language-programming .Sass-container i, .language-programming .figma-container i, .language-programming .React-container i, .language-programming .Javascript-container i, .language-programming .GitHub-container i, .language-programming .container-css i {
  font-size: 23px;
  margin-right: 10px;
}
.language-programming .container-css {
  background-color: #264DE4;
}
.language-programming .GitHub-container {
  background-color: #171515;
}
.language-programming .Javascript-container {
  background-color: #E5D41F;
}
.language-programming .React-container {
  background-color: #30ABA9;
}
.language-programming .figma-container {
  background-color: #F24E1E;
}
.language-programming .Sass-container {
  background-color: #CC6699;
}

/*.start-project{
    h1{
        font-family:sans-serif ;
        font-size: var(--lg);
        font-weight: bold;
    }
    p{
        font-family:sans-serif ;
        font-size: var(--md);
        font-weight: 100;
    }
}

.table-proyects{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
/* Estilos de google clone 
.google-proyect{
        h2{
            @include Estilos-titulo-h2;
        }

        p {
            @include Estilos-párrafos-secundarios;
        }

        img {
            @include estilos-img-desktop;           
        }

        .button-git-google {
            @include estilos-botones-primarios;

            a {
                color: white;
                text-decoration: none;
            }
        }

        .button-google-demo {
            text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);

            a {
                color: white;
                text-decoration: none;
            }
        }
    }*/
/* Estilos de TodoMachine
.todomachine--proyect{
    h2{
        @include Estilos-titulo-h2;
    }
    p{
        @include Estilos-párrafos-secundarios;
    }
    img{
        @include estilos-img-desktop;           
    }
    .button-git-todomachine{
        @include estilos-botones-primarios;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .button-todomachine-demo{
        text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
    }
    a{
        color: white;
        text-decoration: none;
    }
}  */
/*Estilos de Yard Sale online 
.yardsale--proyect{

    h2{
        @include Estilos-titulo-h2;
    }
    .yardsale--proyect p{
        @include Estilos-párrafos-secundarios;
    }
    .yardsale--proyect img{
        @include estilos-img-desktop;
    }
    .button-git-yardsale{
        @include estilos-botones-primarios;
    }

    .button-git-yardsale a{
        color: white;
        text-decoration: none;
    }

    .button-yardsale-demo{
        text-align: center;
        border-radius: 30px;
        margin-left: 160px;            
        width: 50%;
        background-color: var(--Lightdarkpurple--Primarycolor);
        font-size: var(--md);
    }
    .button-yardsale-demo a{
        color: white;
        text-decoration: none;
    }
}*/
.end p {
  text-align: center;
  font-size: var(--sm);
}

@media screen and (width: 1366px) {
  /* Estilos de google clone */
  .google-proyect h2 {
    padding: 10px;
    margin-top: 30px;
  }
  .google-proyect p {
    font-size: var(--md);
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .google-proyect img {
    width: 400px;
    padding-left: 10px;
    margin-right: 140px;
    margin-left: 150px;
  }
  .google-proyect .button-git-google {
    text-align: center;
    border-radius: 30px;
    width: 50%;
    margin-left: 160px;
    background-color: var(--olivegreen--Secondarycolor);
    font-size: var(--md);
  }
  .google-proyect .button-git-google a {
    color: white;
    text-decoration: none;
  }
  .google-proyect .button-google-demo {
    text-align: center;
    border-radius: 30px;
    margin-left: 160px;
    width: 50%;
    background-color: var(--Lightdarkpurple--Primarycolor);
    font-size: var(--md);
  }
  .google-proyect .button-google-demo a {
    color: white;
    text-decoration: none;
  }
  /* Estilos de TodoMachine */
  .todomachine--proyect h2 {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .todomachine--proyect p {
    font-size: var(--md);
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .todomachine--proyect img {
    width: 400px;
    padding-left: 10px;
    margin-right: 140px;
    margin-left: 150px;
  }
  .todomachine--proyect .button-git-todomachine {
    text-align: center;
    border-radius: 30px;
    width: 50%;
    margin-left: 160px;
    background-color: var(--olivegreen--Secondarycolor);
    font-size: var(--md);
  }
  .todomachine--proyect a {
    color: white;
    text-decoration: none;
  }
  .todomachine--proyect .button-todomachine-demo {
    text-align: center;
    border-radius: 30px;
    margin-left: 160px;
    width: 50%;
    background-color: var(--Lightdarkpurple--Primarycolor);
    font-size: var(--md);
  }
  .todomachine--proyect a {
    color: white;
    text-decoration: none;
  }
  /*Estilos de Yard Sale online */
  .yardsale--proyect h2 {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .yardsale--proyect .yardsale--proyect p {
    font-size: var(--md);
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .yardsale--proyect .yardsale--proyect img {
    width: 400px;
    padding-left: 10px;
    margin-right: 140px;
    margin-left: 150px;
  }
  .yardsale--proyect .button-git-yardsale {
    text-align: center;
    border-radius: 30px;
    width: 50%;
    margin-left: 160px;
    background-color: var(--olivegreen--Secondarycolor);
    font-size: var(--md);
  }
  .yardsale--proyect .button-git-yardsale a {
    color: white;
    text-decoration: none;
  }
  .yardsale--proyect .button-yardsale-demo {
    text-align: center;
    border-radius: 30px;
    margin-left: 160px;
    width: 50%;
    background-color: var(--Lightdarkpurple--Primarycolor);
    font-size: var(--md);
  }
  .yardsale--proyect .button-yardsale-demo a {
    color: white;
    text-decoration: none;
  }
}
/*@media screen and (min-width: 1024px) {

    .google-proyect img{
        width: 70%;
        height: 20%;
    }
    .button-git-google{
        text-align: center;
        border-radius: 0%;
        width: 70%;
        background-color:var(--olivegreen--Secondarycolor);
        font-size: var(--md);
    }
    .button-git-google a{
        color: white;
        text-decoration: none;
    }

    .button-google-demo{
        text-align: center;
        border-radius: 0%;
        width: 70%;
        background-color: var(--Lightdarkpurple--Primarycolor);
        font-size: var(--md);
    }
    .button-google-demo a{
        color: white;
        text-decoration: none;
    }
    .todomachine--proyect img{
        width: 70%;
        height: 20%;
    }
    .button-git-todomachine{
        text-align: center;
        border-radius: 0%;
        width: 70%;
        background-color:var(--olivegreen--Secondarycolor);
        font-size: var(--md);
    }

    .button-git-todomachine a{
        color: white;
        text-decoration: none;
    }

    .button-todomachine-demo{
        text-align: center;
        border-radius: 0%;
        width: 70%;
        background-color: var(--Lightdarkpurple--Primarycolor);
        font-size: var(--md);
    }
    .button-todomachine-demo a{
        color: white;
        text-decoration: none;
    }
    .yardsale--proyect img{
        width: 70%;
        height: 20%;
    }
    .button-git-yardsale{
        text-align: center;
        border-radius: 0%;
        width: 70%;
        background-color:var(--olivegreen--Secondarycolor);
        font-size: var(--md);
    }

    .button-git-yardsale a{
        color: white;
        text-decoration: none;
    }

    .button-yardsale-demo{
        text-align: center;
        border-radius: 0%;
        width: 70%;
        background-color: var(--Lightdarkpurple--Primarycolor);
        font-size: var(--md);
    }
    .button-yardsale-demo a{
        color: white;
        text-decoration: none;
    }
} */
h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}
.navbar .logo {
  margin-right: 10px;
  /* Espacio entre el logo y los íconos de redes sociales */
}
.navbar .logo img {
  width: 40px;
  border-radius: 30px;
}
.navbar .social-icons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .social-icons img {
  width: 40px;
}
.navbar .social-icons li {
  margin-right: 50px;
  /* Espacio entre los íconos de redes sociales */
}
.navbar .social-icons li:last-child {
  margin-right: 0;
  /* No aplicar margen al último ícono */
}

.title-softskills {
  font-size: var(--md);
}

.soft-skills p {
  font-size: var(--md);
  line-height: 1.5rem;
  text-align: center;
  margin: 10px;
  margin-right: 10px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  text-transform: capitalize;
}/*# sourceMappingURL=styles.css.map */