.title-info{
    padding: 25px;
}

.info-article{
    width: 70%;
    margin: 0 auto;  
}

.soft-skills{
    padding: 25px;
}

.container-softskills {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container-softskills p {
    text-align: center;
    padding: 8px;
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
.container-softskills img {
    width: 7vw;
    height: 80px;
    margin: 0 auto;
    padding: 8px;
}
    
.container-softskills p {
    font-size: 1.7rem;
}
}