

.info-article{
    margin: 0 auto;  
}

.soft-skills{
    padding: 25px;
}

.container-softskills {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container-softskills p {
    text-align: center;
    padding: 8px;
}


@media screen and (min-width: 700px) and (max-width: 800px) {
    .container-softskills img {
        width: 10vw;
        height: 80px;
        margin: 0 auto;
        padding: 8px;
}
}
@media screen and (min-width: 700px) and (max-width: 1800px) {
    .title-info{
        padding-top: 75px;
    }

    
.container-softskills p {
    font-size: 1.7rem;
}
.info-article{
    width: 70%;
}
}
