.title-softskills{
   font-size: var(--md);
}
.soft-skills p{
   font-size: var(--md);
   line-height: 1.5rem;
   text-align: center;
   margin: 10px;
   margin-right: 10px;
}
.icons-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   list-style: none;
   color: white;
   text-transform: capitalize;
}
