:root {
  /*Tamaño de fuentes*/
  --vlg: 2rem;
  --lg: 1.3rem;
  --md: 18px;
  --sm: 1.1rem;
  /*Colores*/
  --Dark--Blue--color: #253b6e;
  --olivegreen--Secondarycolor: #02880b;
  --Lightdarkpurple--Primarycolor: #389168;
  --color-secondary: #dfb361;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
}

h1 {
  padding: 5px;
  margin-top: 5px;
}

@mixin estilo-principal-botones {
  width: 10rem;
  font-size: 1.8rem;
  height: 2.3rem;
  text-align: center;
}
$ancho-tablet: 700px;
