:root {
  /*Tamaño de fuentes*/
  --vlg: 2rem;
  --lg: 1.3rem;
  --md: 18px;
  --sm: 1.1rem;
  /*Colores*/
  --Dark--Blue--color: #253b6e;
  --olivegreen--Secondarycolor: #02880b;
  --Lightdarkpurple--Primarycolor: #389168;
  --color-secondary: #dfb361;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
}

h1 {
  padding: 5px;
  margin-top: 5px;
}

@mixin estilo-botones {
  color: red;
  width: 100px;
  font-size: 16px;
  height: 25px;
  text-align: center;
}

@mixin titulos-h1 {
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 22px;
}

@mixin imagenes-proyectos {
  object-fit: cover;
  margin-left: 10px;
  height: 200px;
}

@mixin imagenes-proyectos-desktopmd {
  object-fit: cover;
  margin-left: 610px;
  height: 200px;
}

@mixin articles-descriptions {
  padding-top: 2rem;
  width: 90vw;
  text-align: center;
  margin-left: 8px;
  line-height: 2.5rem;
}

$ancho-movil: 300px;
$ancho-desktop: 900px;
$ancho-desktopmd: 1157px;