.tecnologies-introdution {
  padding-top: 2rem;
  color: black;
  text-align: center;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
