.Lenguajes{
    padding: 20px;
}

.languages-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.languages-container img{
    height: 70px;
    width: 6vw;
    padding-left: 10px;
    padding: 5px;
}

.languages-container p{
    padding-top: 10px;
    padding-bottom: 20px;
}