.tecnologies-introdution {
  padding-top: 2rem;
  color: black;
  text-align: center;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li {
  text-align: center;
  padding-bottom: 2rem;
  img {
    height: 6vh;
  }
  p {
    width: 48vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}
