
@media screen and (min-width: 320px) and (max-width: 700px) {
    .main-header {
        height: 80px;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0 0.4rem;
      }
      
    .button-menu{
        padding-right: 15px;
    }
    .layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .photo-main{
        position: absolute;
        top: 50px;
        width: 250px;
        display: flex;
        justify-content: center;
    }
   
    .greeting{
        padding-top: 110px;
        width: 90vw;
        font-size: 1.7rem;
    }


    .title-info{
        font-size: 1.9rem;
        padding: 21px;
    }

    .info-article{
        font-size: 1.7rem;
        text-align: center;
        width: 90vw;
    }

    .soft-skills{
        font-size: 1.9rem;
    }
    .container-softskills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .container-softskills img {
        width: 10vw;
        margin: 0 auto;
        padding: 3px;
    }
    
    .container-softskills p {
        font-size: 1.7rem;
    }

    .Lenguajes{
        font-size: 1.9rem;
    }

    .languages-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .languages-container img{
        width: 10vw;
    }

    .section-proyectos{
        h3{
            font-size: 1.9rem;
        }
    }

    .proyectos-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

  
}

@media screen and (min-width: 500px) and (max-width: 720px) {
    .proyectos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 columnas */
        justify-items: center;
        align-items: center;
        gap: 20px; /* Espacio entre los elementos */
      }
}