.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 10px;
  /* Espacio entre el logo y los íconos de redes sociales */
  img {
    width: 82px;
    height: 70px;
    border-radius: 30px;
  }
}
.social-icons {
  display: flex;
  list-style: none;
  padding: 10px;
  font-size: 4rem;
}

.social-icons li {
  margin-right: 50px;
  /* Espacio entre los íconos de redes sociales */
}
.fa-linkedin{
  border-radius: 50%;
}
.title-me {
  text-align: center;
  padding-bottom: 2rem;
}

.aboutme-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutme-container img {
  border-radius: 0;
  height: 20vh;
  width: 12vw;
  margin-left: 17rem;
  padding-bottom: 1.5rem;
}
.information {
  color: black;
  width: 50vw;
  margin-left: 17rem;
}
