.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  
}
.Proyect-title {
  margin: 0 auto;
}

/*.Proyect-container {
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.One-Proyect {
  width: 100%;
  height: 100%;
  img {
    width: 45rem;
    height: 23rem;
    object-fit: cover;
    object-position: center;
    margin-left: 8rem;
  }
  h2 {
    padding-bottom: 1rem;
    padding-left: 3rem;
    text-align: left;
    margin-left: 5rem;
  }
}
.article-description-one {
  padding-top: 8rem;
  width: 100rem;
  max-width: 65rem;
  text-align: left;
}
*/