.start-project{
        h1{
            font-family:sans-serif ;
            font-size: var(--lg);
            font-weight: bold;
        }
        p{
            font-family:sans-serif ;
            font-size: var(--md);
            font-weight: 100;
        }
    }
    
    .table-proyects{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
            gap: 5px;
    }
    /* Estilos de google clone */
    .google-proyect{
            h2{
                @include Estilos-titulo-h2;
            }
        
            p {
                @include Estilos-párrafos-secundarios;
            }
        
            img {
                @include estilos-img-desktop;           
            }
        
            .button-git {
                @include estilos-botones-primarios;
        
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        
            .button-demo {
                text-align: center;
                border-radius: 30px;
                margin-left: 160px;            
                width: 50%;
                background-color: var(--Lightdarkpurple--Primarycolor);
                font-size: var(--md);
        
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    /* Estilos de TodoMachine*/
    .todomachine--proyect{
        h2{
            @include Estilos-titulo-h2;
        }
        p{
            @include Estilos-párrafos-secundarios;
        }
        img{
            @include estilos-img-desktop;           
        }
        .button-git{
            @include estilos-botones-primarios-segundo-estilo;
        }
        a{
            color: white;
            text-decoration: none;
        }
        .button-demo{
            text-align: center;
                border-radius: 30px;
                margin-left: 160px;            
                width: 50%;
                background-color: var(--Lightdarkpurple--Primarycolor);
                font-size: var(--md);
        }
        a{
            color: white;
            text-decoration: none;
        }
    } 
    /*Estilos de Yard Sale online */
    .yardsale--proyect{
        h2{
            @include Estilos-titulo-h2;
        }
        p{
            @include Estilos-párrafos-secundarios;
        }
        img{
            @include estilos-img-desktop;
        }
        .button-git{
            @include estilos-botones-primarios-segundo-estilo;
        }
        
        .button-git a{
            color: white;
            text-decoration: none;
        }
        
        .button-demo{
            text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
        }
        .button-demo a{
            color: white;
            text-decoration: none;
        }
    }
    /*Estilos de Eco-store */
    .eco-store-proyect{
        h2{
            @include Estilos-titulo-h2;
        }
        p{
            @include Estilos-párrafos-secundarios;
        }
        img{
            @include estilos-img-desktop;
        }
        .button-git{
            @include estilos-botones-primarios-segundo-estilo;
        }
        
        .button-git a{
            color: white;
            text-decoration: none;
        }
        
        .button-demo{
            text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
        }
        .button-demo a{
            color: white;
            text-decoration: none;
        }
    }

    /*AutoBlog-Chatgpt-proyect*/
    .AutoBlog-Chatgpt-proyect{
        h2{
            @include Estilos-titulo-h2;
        }
        p{
            @include Estilos-párrafos-secundarios;
        }
        img{
            @include estilos-img-desktop;
        }
        .button-git{
            @include estilos-botones-primarios-segundo-estilo;
        }
        
        .button-git a{
            color: white;
            text-decoration: none;
        }
        
        .button-demo{
            text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
        }
        .button-demo a{
            color: white;
            text-decoration: none;
        }
    }
        /*best-food-grid-proyect*/
        .best-food-grid-proyect{
            h2{
                @include Estilos-titulo-h2;
            }
            p{
                @include Estilos-párrafos-secundarios;
            }
            img{
                @include estilos-img-desktop;
            }
            .button-git{
                @include estilos-botones-primarios-segundo-estilo;
            }
            
            .button-git a{
                color: white;
                text-decoration: none;
            }
            
            .button-demo{
                text-align: center;
                border-radius: 30px;
                margin-left: 160px;            
                width: 50%;
                background-color: var(--Lightdarkpurple--Primarycolor);
                font-size: var(--md);
            }
            .button-demo a{
                color: white;
                text-decoration: none;
            }
        }
/*Batabit proyect*/
        .Batabit-proyect{
            h2{
                @include Estilos-titulo-h2;
            }
            p{
                @include Estilos-párrafos-secundarios;
            }
            img{
                @include estilos-img-desktop;
            }
            .button-git{
                @include estilos-botones-primarios-segundo-estilo;
            }
            
            .button-git a{
                color: white;
                text-decoration: none;
            }
            
            .button-demo{
                text-align: center;
                border-radius: 30px;
                margin-left: 160px;            
                width: 50%;
                background-color: var(--Lightdarkpurple--Primarycolor);
                font-size: var(--md);
            }
            .button-demo a{
                color: white;
                text-decoration: none;
            }
        }
.challenge{
    h1{
        @include Estilos-titulo-h2;
    }
}
        /*Qr-componente-main proyect*/
        .qr-componente-main-proyect{
            h2{
                @include Estilos-titulo-h2;
            }
            p{
                @include Estilos-párrafos-secundarios;
            }
            img{
                @include estilos-img-desktop;
            }
            .button-git{
                @include estilos-botones-primarios;
            }
            
            .button-git a{
                color: white;
                text-decoration: none;
            }
            
            .button-demo{
                text-align: center;
                border-radius: 30px;
                margin-left: 160px;            
                width: 50%;
                background-color: var(--Lightdarkpurple--Primarycolor);
                font-size: var(--md);
            }
            .button-demo a{
                color: white;
                text-decoration: none;
            }
        }

        /*single-price-component-proyect*/
        .single-price-component-proyect{
            h2{
                @include Estilos-titulo-h2;
            }
            p{
                @include Estilos-párrafos-secundarios;
            }
            img{
                @include estilos-img-desktop;
            }
            .button-git{
                @include estilos-botones-primarios;
            }
            
            .button-git a{
                color: white;
                text-decoration: none;
            }
            
            .button-demo{
                text-align: center;
                border-radius: 30px;
                margin-left: 160px;            
                width: 50%;
                background-color: var(--Lightdarkpurple--Primarycolor);
                font-size: var(--md);
            }
            .button-demo a{
                color: white;
                text-decoration: none;
            }
        }