.start-project{
    h1{
        font-family:sans-serif ;
        font-size: var(--lg);
        font-weight: bold;
    }
    p{
        font-family:sans-serif ;
        font-size: var(--md);
        font-weight: 100;
    }
}

.table-proyects{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
        grid-gap: 20px; /* Espacio entre los elementos */
}

/* Estilos de google clone */
.google-proyect{
        h2{
            @include Estilos-titulo-h2;
        }
    
        p {
            @include Estilos-párrafos-secundarios;
        }
    
        img {
            width:  400px;
            padding-left: 10px;
            margin-left: 160px;            
        }
    
        .button-git-google {
            @include estilos-botones-primarios;
    
            a {
                color: white;
                text-decoration: none;
            }
        }
    
        .button-google-demo {
            text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
    
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
/* Estilos de TodoMachine */
.todomachine--proyect{
    h2{
        font-size: 1.5rem;
        margin-left: 10px;
    }
    p{
        font-size: var(--md);
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    img{
        width:  400px;
        padding-left: 10px;
        margin-right: 140px;
        margin-left: 150px; 
    }
    .button-git-todomachine{
        text-align: center;
        border-radius: 30px;
        width: 50%;
        margin-left: 160px;            
        background-color: var(--olivegreen--Secondarycolor);
        font-size: var(--md);
    }
    a{
        color: white;
        text-decoration: none;
    }
    .button-todomachine-demo{
        text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
    }
    a{
        color: white;
        text-decoration: none;
    }
} 
/*Estilos de Yard Sale online */
h2{
    @include Estilos-titulo-h2;
}
.yardsale--proyect p{
    @include Estilos-párrafos-secundarios;
}
.yardsale--proyect img{
    @include estilos-img-desktop;
}
.button-git-yardsale{
    text-align: center;
    border-radius: 0%;
    width: 100%;
    background-color:var(--olivegreen--Secondarycolor);
    font-size: var(--md);
}

.button-git-yardsale a{
    color: white;
    text-decoration: none;
}

.button-yardsale-demo{
    text-align: center;
    border-radius: 0%;
    width: 100%;
    background-color: var(--Lightdarkpurple--Primarycolor);
    font-size: var(--md);
}
.button-yardsale-demo a{
    color: white;
    text-decoration: none;
}
