.section-proyectos h3{
    padding: 15px;
}

.section-proyectos p{
    padding: 10px;
    padding-bottom: 40px;
}


.proyecto{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.proyecto img {
    max-width: 100%;
    height: auto;
  }

  .botones {
    margin-top: 10px;
  }
  .botón {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .enlace{
    text-decoration: none;
    color: #fff;
  }
  .descripción{
    font-weight: 100;
  }

  @media screen and (min-width: 720px) and (max-width: 1800px) {
    .proyectos-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
      gap: 20px; /* Espacio entre los elementos */
    }
  }