/*.start-project{
    h1{
        font-family:sans-serif ;
        font-size: var(--lg);
        font-weight: bold;
    }
    p{
        font-family:sans-serif ;
        font-size: var(--md);
        font-weight: 100;
    }
}

.table-proyects{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
/* Estilos de google clone 
.google-proyect{
        h2{
            @include Estilos-titulo-h2;
        }
    
        p {
            @include Estilos-párrafos-secundarios;
        }
    
        img {
            @include estilos-img-desktop;           
        }
    
        .button-git-google {
            @include estilos-botones-primarios;
    
            a {
                color: white;
                text-decoration: none;
            }
        }
    
        .button-google-demo {
            text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
    
            a {
                color: white;
                text-decoration: none;
            }
        }
    }*/
/* Estilos de TodoMachine
.todomachine--proyect{
    h2{
        @include Estilos-titulo-h2;
    }
    p{
        @include Estilos-párrafos-secundarios;
    }
    img{
        @include estilos-img-desktop;           
    }
    .button-git-todomachine{
        @include estilos-botones-primarios;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .button-todomachine-demo{
        text-align: center;
            border-radius: 30px;
            margin-left: 160px;            
            width: 50%;
            background-color: var(--Lightdarkpurple--Primarycolor);
            font-size: var(--md);
    }
    a{
        color: white;
        text-decoration: none;
    }
}  */
/*Estilos de Yard Sale online 
.yardsale--proyect{

    h2{
        @include Estilos-titulo-h2;
    }
    .yardsale--proyect p{
        @include Estilos-párrafos-secundarios;
    }
    .yardsale--proyect img{
        @include estilos-img-desktop;
    }
    .button-git-yardsale{
        @include estilos-botones-primarios;
    }
    
    .button-git-yardsale a{
        color: white;
        text-decoration: none;
    }
    
    .button-yardsale-demo{
        text-align: center;
        border-radius: 30px;
        margin-left: 160px;            
        width: 50%;
        background-color: var(--Lightdarkpurple--Primarycolor);
        font-size: var(--md);
    }
    .button-yardsale-demo a{
        color: white;
        text-decoration: none;
    }
}*/
