.Socialnetworks li a span{
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 1rem;
    
}
.list--social span{
    text-transform: capitalize;
    font-size: var(--md);
}

.list--social i{
    height: 30px;
    font-size: 30px;
}

.fa-twitter{
    color: #1DA1F2;
    font-size: var(--md);
}

.fa-linkedin{
    color: #0173B1;
    font-size: var(--md);
}

.fa-square-github{
    color: white;
    font-size: var(--md);
}