.section--Technologicalskills h1{
    font-size: var(--md);
}
.section--Technologicalskills p{
    font-size: var(--md);
    line-height: 1.5rem;
    text-align: center;
}

/*.table{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  /*  grid-gap: 10px; /* Espacio entre las columnas */
   /* justify-items: center; /* Centrar horizontalmente las columnas */
   /* align-items: center; /* Centrar verticalmente las columnas */
   /* justify-content: center;
} */

.language-programming{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--md);
    margin: 0 auto;
    list-style: none;
    color: white;
    text-transform: capitalize;
    span{
        padding: 25px;
    }
    i{
        height: 30px;
        margin: 10px;
        font-size: var(--md);
        width: 10px;
    }
}


.fa-html5{
    color: #E34C26;
    height: 30px;
    width: 40px;
    font-size: 40px;
}

.fa-css3-alt{
    color: #264DE4;
    width: 40px;
    height: 30px;
    font-size: 40px;
} 

.fa-square-github{
    width: 40px;
    height: 30px;
    font-size: 40px;
}