.section--Technologicalskills h1{
    font-size: var(--md);
}
.section--Technologicalskills p{
    font-size: var(--md);
    line-height: 1.5rem;
    text-align: center;
}


.language-programming{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--md);
    margin: 0;
    list-style: none;
    color: white;
    text-transform: capitalize;
        .html-container{
            background-color: #E34C26;
            margin-top: 10px;
            margin-right:10px;
            padding: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            font-size: 25px;
            i{
                font-size: 23px;
                margin-right: 10px;
            }
        }
        .container-css{
            @extend.html-container;
            background-color: #264DE4;
        }
        .GitHub-container{
            @extend.html-container;
            background-color: #171515 ;
        }
        .Javascript-container{
            @extend .html-container;
            background-color: #E5D41F;
        }
        .React-container{
            @extend.html-container;
            background-color: #30ABA9;
        }
        .figma-container{
            @extend.html-container;
            background-color: #F24E1E;
        }
        .Sass-container{
            @extend .html-container;
            background-color: #CC6699;
        }
}
