// seccion acerca de mi
.title-info {
    padding: 25px;
}
    
.info-article{
    margin: 0 auto;
}

// seccion habilidades
.soft-skills{
    padding: 25px;
}

.container-softskills {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2px;
    width: 20vw;
    margin: 0 auto;
}

.container-softskills p {
    text-align: center;
    padding: 8px;
}
 
// seccion lenguajes
.Lenguajes{
    padding: 20px;
    width: 80vw;
    margin: 0 auto;
}

.languages-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2px;
    width: 20vw;
    margin: 0 auto;
}


.languages-container p{
    padding-top: 10px;
    padding-bottom: 20px;
}