*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: blue;
    color: red;
}

.imagenmia{
    width: 10%;
    height: 200%;
    padding: 10px;
    margin: 40px;
}