:root{
    --lg:1.2rem;
    --md: 20px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: rgb(58, 27, 27);
    font-size: 62.5%;
    font-family: sans-serif;
}

.Title-main{
    text-align: center;
    font-size: 1.3rem;
}
/*Estilos de la seccion Aboutme*/

.div-container{
    display: flex;
    justify-content: center;
}
.section-aboutme h2{
    font-size: var(--lg);
}

.section-aboutme img{
    width: 20%;
    height: 10%;
    padding: 10px;
    margin: 5px;
    border-radius: 100%;
    align-items: center;
}

.article--description{
    font-weight: 500;
    font-size: 0.9rem;
}

/*Estilos de la seccion Habilidades Tecnologicas*/



.section--Technologicalskills{
    font-size: var(--md);
}

.Tecnologies{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.fa-html5{
    color: #E34C26;
}

.fa-css3-alt{
    color: #264DE4;
} 

/* Estilos de la seccion de proyectos */
.start-project h2{
    font-family:sans-serif ;
    font-size: var(--lg);
    font-weight: bold;
}
.start-project p{
    font-family:sans-serif ;
    font-size: var(--md);
    font-weight: 600;
}

/* Estilos de goole clone */
.google-proyect h2{
font-size: var(--lg);
}

.google-proyect p{
    font-size: var(--md);
    font-weight: 500;
}

.google-proyect img{
    width: 100%;
    height: 20%;
}